#!/bin/bash
{{ if not .enable_mozilla }}exit 0{{ end }}
set -euo pipefail

uv tool install MozPhab

export PATH="$HOME/.local/bin:$PATH"
eval "$(fnm env --shell bash)"
npm install -g @firefox-devtools/profiler-cli
