# path
typeset -U path
path=(
    ~/bin
    ~/.local/bin
    ~/.cargo/bin
    ~/.config/fzf/bin
    ~/.config/npm/bin
    ~/go/bin
    ~/opt/neovim/bin
{{ if .enable_mozilla -}}
    ~/.mozbuild/git-cinnabar
{{ end -}}
    /var/lib/flatpak/exports/bin
    $path
)
