# path
typeset -U path
path=(
    ~/bin
    ~/.local/bin
    ~/.cargo/bin
    ~/.config/fzf/bin
    ~/.config/npm/bin
{{- if .enable_mozilla }}
    ~/.mozbuild/git-cinnabar
{{- end }}
    ~/go/bin
    ~/opt/neovim/bin
    /var/lib/flatpak/exports/bin
    $path
)
