{
  "theme": "dark",
  "model": "opusplan",
  "permissions": {
    "allow": [
      "Bash(jj log *)",
      "Bash(jj show *)",
      "Bash(jj diff *)",
      "Bash(jj status)"
    ],
    "additionalDirectories": [
      "/tmp"
    ]
  }{{ if .enable_mozilla }},
  "extraKnownMarketplaces": {
    "internal-aidev-plugins": {
      "source": {
        "source": "github",
        "repo": "mozilla/internal-aidev-plugins"
      }
    }
  },
  "enabledPlugins": {
    "mozdata@internal-aidev-plugins": true
  }{{ end }}
}
