{
  "env": {
    "CLAUDE_CODE_DISABLE_MOUSE_CLICKS": "0"
  },
  "permissions": {
    "allow": [
      "Bash(jj log *)",
      "Bash(jj show *)",
      "Bash(jj diff *)",
      "Bash(jj status)"
    ],
    "additionalDirectories": [
      "/tmp"
    ]
  },
  "model": "opusplan",
  "enabledPlugins": {
    "frontend-design@claude-plugins-official": true
    {{- if .enable_mozilla }},
    "mozdata@internal-aidev-plugins": true
    {{ end }}
  },
  "extraKnownMarketplaces": {
    "internal-aidev-plugins": {
      "source": {
        "source": "github",
        "repo": "mozilla/internal-aidev-plugins"
      }
    }
  },
  "theme": "dark"
}
