{{ if .enable_mozilla -}}
["review-taskgraph"]
    type = "archive"
    url = "https://github.com/JohanLorenzo/claude-taskcluster-process/archive/refs/heads/main.tar.gz"
    stripComponents = 3
    include = ["claude-taskcluster-process-main/skills/review-taskgraph/**"]
{{ end -}}

["no-ai-slop"]
    type = "archive"
    url = "https://github.com/petergyang/no-ai-slop/archive/refs/heads/main.tar.gz"
    stripComponents = 3
    include = ["no-ai-slop-main/skills/no-ai-slop/**"]
